<div class="newPresentPage">
  <h2 class="new-present">New present</h2>
  <form method="POST" action="/presents/new ">
    <label>Name:</label>
    <input required type="text" name="name" placeholder="Product Name" />
    <label>Image:</label>
    <input type="text" name="image" placeholder="https...//" />
    <label>Price:</label>
    <input type="number" name="price" placeholder="" />
    <label>Recipient:</label>
    <input type="text" name="recipient" placeholder="Friend" />
    <label>Description:</label>
    <textarea required name="description"></textarea>
    <button type="submit"> Add Present</button>
  </form>
</div>