body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: auto;
}

/*homepage */
.navbar {
  background-color: #333;
  overflow: hidden;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 33, 33%;
}

.navbar ul a {
  color: white;
  text-decoration: none;
  padding: 70px 70px;
  font-weight: bolder;
  font-size: 20px;
}

.homePageImg {
  display: flex;
  justify-content: center;
}

.homePageImg img {
  width: 50%;
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 70px;
}
.navbar ul a:hover {
  color: #c39717;
}

.homeFooter {
  display: flex;
  background-color: #111;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.homeFooter p {
  margin-left: 30px;
  color: white;
  font-size: 18px;
}

/* Presents page */
.presentsPage {
  margin: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.presentsPage h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.allPresents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.presentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.presentCard img {
  width: auto;
  height: 350px;
  border-radius: 10px;
}

.presentCard a {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
}

.presentCard a:hover {
  color: #c39717;
}

/* search style */
.searchForm {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #996515;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.searchForm form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  width: 60%;
}
.searchForm label {
  width: 250px;
  font-size: 1.2em;
}

.searchForm input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  height: 70%;
  margin-right: 10px;
}

.searchForm button[type="submit"] {
  background-color: #996515;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  height: 30px;
  font-size: 1em;
}

.searchForm button[type="submit"]:hover {
  background-color: #996515;
}

/* present details*/

.detailPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.detailPage .presentCard {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px;
  padding: 0px;
  width: 40%;
  height: 70%;
  margin-top: 100px;
}

.detailPage .presentCard a {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 50px;
}

.detailPage .presentCard a:hover {
  color: #c39717;
}

.detailPage .presentCard b {
  font-size: 16px;
  font-weight: bold;
  
}

.detailPage .imgDetails li {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.detailPage .imgDetails {
  width: 50%;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  align-items: center;

}

/* search Page results */

.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.searchResultsName {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: #996515;
  margin-top: 30px;
}
.searchResultsName h2 {
  font-size: 22px;
  color: #333;
}

.searchResults a {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 0px;
}

.searchResults a:hover {
  color: #c39717;
}

.productNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productNotFound p {
  display: flex;
  margin-top: 50px;
  font-size: 22px;
  margin-bottom: 50px;
}
.productNotFound a {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.productNotFound a:hover {
  color: #c39717;
}
/* Add present Page */

.newPresentPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

h2.new-present {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  color: #996515;
}

.newPresentPage form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.newPresentPage form label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.newPresentPage form input[type="text"],
form input[type="number"],
form textarea {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid rgb(240, 229, 161);
  box-sizing: border-box;
}

.newPresentPage form input[type="text"],
form input[type="number"] {
  width: 100%;
}

.newPresentPage form textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.newPresentPage form button[type="submit"] {
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.newPresentPage form button[type="submit"]:hover {
  color: #c39717;
}
